USE [master]
GO
/****** Object:  Database [test]    Script Date: 20.05.2026 22:05:57 ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Users\yasin.karacam\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Users\yasin.karacam\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  User [stockapp]    Script Date: 20.05.2026 22:05:57 ******/
CREATE USER [stockapp] FOR LOGIN [stockapp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [stockapp]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERTITLE] [nvarchar](50) NULL,
	[CUSTOMERNUMBER] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [int] NULL,
	[NAME] [nvarchar](150) NULL,
	[IMAGE_SRC] [nvarchar](100) NULL,
	[SALESPRICE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[PRICE] [float] NULL,
	[AMOUNT] [float] NULL,
	[DATE] [datetime] NULL,
	[CUSTOMER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[SALESPRICE] [float] NULL,
	[DATE] [datetime] NULL,
	[AMOUNT] [float] NULL,
	[CUSTOMER_ID] [int] NULL,
	[LISTPRICE] [float] NULL,
	[DISCOUNTRATE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Purchase]  WITH NOCHECK ADD  CONSTRAINT [FK_Purchase_Customer] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Customer]
GO
ALTER TABLE [dbo].[Purchase]  WITH NOCHECK ADD  CONSTRAINT [FK_Purchase_Product] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Product]
GO
ALTER TABLE [dbo].[Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_Sales_Customer] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customer]
GO
ALTER TABLE [dbo].[Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_Sales_Product] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Product]
GO
ALTER TABLE [dbo].[Stock]  WITH NOCHECK ADD  CONSTRAINT [FK_Stock_Product] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Product]
GO
/****** Object:  StoredProcedure [dbo].[SPGetAllPurchases]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPGetAllPurchases]
AS
BEGIN
    SELECT 
        pu.ID,
        pu.CUSTOMER_ID AS CustomerId,
        c.CUSTOMERTITLE AS CustomerName,
        pu.PRODUCT_ID AS ProductId,
        p.NAME AS ProductName,
        pu.QUANTITY,
        pu.PRICE,
        pu.DATE,
        pu.AMOUNT
    FROM Purchase pu
    LEFT JOIN Customer c ON c.ID = pu.CUSTOMER_ID
    LEFT JOIN Product p ON p.ID = pu.PRODUCT_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SPGetAllSales]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPGetAllSales]
AS
BEGIN
    SELECT 
        s.ID,
        s.CUSTOMER_ID AS CustomerId,
        c.CUSTOMERTITLE AS CustomerName,
        s.PRODUCT_ID AS ProductId,
        p.NAME AS ProductName,
        s.QUANTITY,
        s.SALESPRICE,
        s.DATE,
        s.AMOUNT,
        s.LISTPRICE,
        s.DISCOUNTRATE
    FROM Sales s
    LEFT JOIN Customer c ON c.ID = s.CUSTOMER_ID
    LEFT JOIN Product p ON p.ID = s.PRODUCT_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SPReportGetAllSalesDetail]    Script Date: 20.05.2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPReportGetAllSalesDetail]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.ID,
        cat.ID AS CategoryId,
        cat.NAME AS CategoryName,
        s.PRODUCT_ID AS ProductId,
        p.NAME AS ProductName,
        s.CUSTOMER_ID AS CustomerId,
        CONCAT(c.CUSTOMERTITLE, ' ', c.CUSTOMERNUMBER) AS CustomerName,
        s.QUANTITY,
        s.SALESPRICE,
        s.DISCOUNTRATE,
        s.DATE
    INTO #temp
    FROM Sales s
    LEFT JOIN Product p ON p.ID = s.PRODUCT_ID
    LEFT JOIN Category cat ON cat.ID = p.CATEGORY_ID
    LEFT JOIN Customer c ON c.ID = s.CUSTOMER_ID;

    SELECT 
        ProductId,
        SUM(QUANTITY) AS TotalQuantity
    INTO #total
    FROM #temp
    GROUP BY ProductId;

    SELECT 
        t.ID,
        t.CategoryId,
        t.CategoryName,
        t.ProductId,
        t.ProductName,
        t.CustomerId,
        t.CustomerName,
        t.QUANTITY,
        t.SALESPRICE,
        t.DISCOUNTRATE,
        t.DATE,
        tt.TotalQuantity
    FROM #temp t
    INNER JOIN #total tt ON tt.ProductId = t.ProductId
    ORDER BY tt.TotalQuantity DESC;
END
GO
USE [master]
GO
